.accueil-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background: radial-gradient(white, #838383);
    padding-left: 200px;
}

.info-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size: 1.5em;
    text-align: center;
}

.info-intro a {
    color: white;
    text-decoration: none;
    border: solid #222222 1px;
    background-color: #222222;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
}

.info-intro a:hover {
    background-color: #838383;
    color: #222222;
}

#vente {
    margin-left: 200px;
    margin-top: 50px;
    font-size: 2em;
}

.accueil-produits {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.produits a{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222222;
    text-transform: uppercase;
    text-decoration: none;
}

.produits a:hover {
    text-decoration: underline;
}

.produits h2 {
    font-size: 0.8em;
    color: #807E7E;
}

.produits a img {
    width: 300px;
}
